@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}





/* Scrollbar personalizado */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 9999px;
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
}

@import "./calendar-styles.css";